<%- include('../partials/header') %>
<h1><a href="/admin">> USERS <</a></h1>
<% if (items.length > 0) { %>
<table>
  <thead>
    <tr>
        <H1>CURRENT PRODUCTS</H1>
    </tr>
    <tr>
        <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
      <% items.forEach(function(i) { %>
    <tr>
      <td><%= i.name %></td>
      <td>$<%= i.price %></td>
      <td>
        <form action="/items?_method=DELETE" method="POST">
          <input type="hidden" name="itemId" value=<%= i.id %>>
        <button type="submit">X</button></form>
      </td>
    </tr>
    <% }); %>
  </tbody>
  <% } else { %>
  <thead>
      <tr>
        <H1>NO PRODUCTS</H1>
      </tr>
      <tr>
        <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
      </tr>
  </thead>
</table>
  <% }; %>
<table>
  </tbody>
    <tr><td>
      <form id="addItem" action="/items" method="POST">
      <label>Name: <input name="name" type="string"></label>
    </td></tr><tr><td>
      <label>Price: <input name="price" type="number" value="50"></label>
    </td></tr><tr><td>
      <input type="submit" value="Add Item">
      </form>
    </td></tr>
  </tbody>
</table>
<%- include('../partials/footer') %>