<%- include('../partials/header') %>
<h2><a href="/admin">> USERS <</a></h2>
<% if (items.length > 0) { %>
<table>
  <thead>
    <tr>
        <H1>CURRENT PRODUCTS</H1>
    </tr>
    <tr>
        <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Rental</th>
    </tr>
      <% items.forEach(function(it) { %>
    <tr>
      <td><%= it.name %></td>
      <% if (Number.isInteger(it.price)) { %>
      <td>$<%= it.price %>.00</td>
      <% } else { %>
      <td>$<%= it.price %></td>
      <% }; %>
      <td><%= it.rental %></td>
      <td>
        <form action="/items?_method=DELETE" method="POST">
          <input type="hidden" name="itemId" value="<%= it.id %>">
        <button type="submit">X</button></form>
      </td>
    </tr>
    <% }); %>
  </tbody>
  <% } else { %>
  <thead>
      <tr>
        <H1>NO PRODUCTS</H1>
      </tr>
      <tr>
        <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
      </tr>
  </thead>
</table>
  <% }; %>
<table>
  </tbody>
    <tr><td>
      <form id="addItem" action="/items" method="POST">
      <label>Name: <input name="name" type="string"></label>
    </td></tr><tr><td>
      <label>Price: $<input name="price" type="number" step=".01" value="50.00"></label>
    </td></tr><tr><td>
      <label>Rental Item: 
        <select name="rental" form="addItem" type="boolean">
          <option value="true">True</option>
          <option value="false">False</option>
        </select></label>
    </td></tr><tr><td>
      <input type="submit" value="Add Item">
      </form>
    </td></tr>
  </tbody>
</table>
<%- include('../partials/footer') %>