<%- include('../partials/header') %>
<% if (user) { %>
  <% if (user.admin && user.admin === true) { %>
    <table>
      <thead></thead>
        <tr>
          <th><h1>ADMIN PROFILE</h1></th>
        </tr><tr>
          <th><h2><a href="/admin">> Users Portal <</a></h2></th>
        </tr><tr>
          <th><h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3></th>
        </tr>
      </thead>
    </table>
    <table>
      <thead>
        <tr>
          <h1>ADD NEW ITEM</h1>
        </tr>
      </thead>
      </tbody>
        <tr>
          <td>
            <form id="addItem" action="/items" method="POST">
            <label>Name: <input class="dateInput" name="name" type="string"></label>
          </td>
          <td>
            <label>Price: $<input class="numInput" name="price" type="number" step=".01" min="0.00" required="true" placeholder="0.00"></label>
          </td>
        </tr>
        <tr>
          <td>
          <label>Rental Item: 
            <select name="rental" form="addItem" type="boolean">
              <option class="dateInput" value="true">True</option>
              <option class="dateInput" value="false">False</option>
            </select></label>
          </td>
          <td>
            <input class="addButton" type="submit" value="Add Item">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
<% if (items.length > 0) { %>
    <table>
      <thead>
        <tr>
          <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
        </tr>
        <br>
        <tr>
            <h1>CURRENT PRODUCTS</h1>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Rental</th>
        </tr>
      <% items.forEach(function(it) { %>
        <tr>
          <td><%= it.name %></td>
          <td>$<%= it.price.toFixed(2) %></td>
          <td><%= it.rental %></td>
          <td>
            <form action="/items?_method=DELETE" method="POST">
              <input type="hidden" name="itemId" value="<%= it.id %>">
            <button type="submit">X</button></form>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  <br><br>
      <% } else { %>
        <br><br>
      <thead>
          <tr>
            <H1>NO PRODUCTS</H1>
          </tr>
          <tr>
            <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
          </tr>
      </thead>
    </table>
    <br><br>
    <% }; %>
  <% } else { %>
    <br><br>
    <h1>ACCESS DENIED!!!</h1><br>
    <h1>ABORT!!!</h1><br>
    <h1>ABORT!!!</h1><br>
    <h1>ABORT!!!</h1><br>
    <br><br>
  <% }; %>
<% } else { %>
  <br><br>
  <h1>Please Sign In</h1>
  <br><br>
<% }; %>
<%- include('../partials/footer') %>