<%- include('../partials/header') %>

<p>Product List
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(i) { %>
        <tr>
          <td><%= i.name %></td>
          <td>$<%= i.price %></td>
          <td><form name="delItem" value="<%= i.id %>" action="/items/<%= i.id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
          </form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</p>
<form id="addItem" action="/items" method="POST">
  <label>Name: <input name="name" type="string"></label>
  <br>
  <label>Price: <input name="price" type="number"></label>
  <br>
  <input type="submit" value="Add Item">
</form>

<%- include('../partials/footer') %>