<%- include('partials/header') %>

<br>
<div id="youtube-container">
    <iframe id="youtube-frame" width="auto" height="auto" src="https://www.youtube.com/embed/W8x9jgieT30" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>
<br>
<div>
    <% if (items.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th><H1>CURRENT PRODUCTS</H1></th>
            </tr>
            <tr>
                <th><h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2></th>
            </tr>
        </thead>
    </table>
    <table>
        <head>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <% if (user) { %>
                    <th></th>
                <th>Days</th>
                <th>Rental Date</th>
                <th></th>
                <% }; %>

            </tr>
        </thead>
        <tbody>
        <% items.forEach(function(i) { %>
          <tr>
            <td><%= i.name %></td>
            <td>$<%= i.price %></td>
            <% if (user) { %>
                <% console.log(user); %>

            <td> x </td>
            <form id="addToCart" action="/cart" method="POST">
            <td><input type="number" name="rentDays" value="1" max="7"></td>
            <td><input type="date" name="rentDate"></td>
            <td><button type="submit">Add to Cart</button></td>
            <td><input type="hidden" name="itemId" value=<%= i.id %>></td>
            <td><input type="hidden" name="userId" value=<%= user._id %>></td>
            </form>
            <% }; %>
            </tr>
        <% }); %> 
        </tbody>
    </table>
    <% } else { %>
    <table>
        <thead>
            <tr>
                <H1>CURRENT PRODUCTS</H1>
            </tr>
            <tr>
                <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
            </tr>
          <tr>
            <h3><td>Check Back Soon!</td></h3>
          </tr>
        </thead>
        <% }; %>
    </table>
</div>
<%- include('partials/footer') %>