<%- include('partials/header') %>
<% if (user && user.admin === true) { %>
    <table>
      <thead>
        <tr>
          <th><h1>ADMIN PROFILE</h1></th>
        </tr>
        <tr>
          <th><h2><a href="/items">> Products Portal <</a></h2></th>
        </tr>
        <tr>
          <th><h2><a href="/admin">> Users Portal <</a></h2></th>
        </tr>
        <tr>
          <th><h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3></th>
        </tr>
      </thead>
    </table>
  <% }; %>
<br>
<div id="youtube-container">
    <iframe id="youtube-frame" width="auto" height="auto" src="https://www.youtube.com/embed/W8x9jgieT30" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>
<br>
<div>
    <% if (items.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th><H1>CURRENT PRODUCTS</H1></th>
            </tr>
            <tr>
                <th><h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2></th>
            </tr>
        </thead>
    </table>
    <table>
        <head>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <% if (user) { %>
                    <th></th>
                <th>Days</th>
                <th>Rental Date</th>
                <th></th>
                <% }; %>

            </tr>
        </thead>
        <tbody>
        <% items.forEach(function(it) { %>
          <tr>
            <td><%= it.name %></td>
            <% console.log(); %>
            <td>$<%= it.price %></td>
            

            <% if (user) { %>
            <td> x </td>
            <form id="addToCart" action="/cart" method="POST">
                <% if (it.rental) { %>
            <td><input class="numInput" type="number" name="rentDays" min="1" max="2" placeholder="2 Max" required="true"></td>
            <td><input class="dateInput" type="date" name="rentDate" required="true"></td>
                <% } else { %>
                    <td></td>
                    <td></td>
                <% }; %>
            <td><button class="addButton" type="submit">Add to Cart</button></td>
            <td><input type="hidden" name="_id" value=<%= it._id %>></td>
            </form>
            <% }; %>
            </tr>
        <% }); %> 
        </tbody>
    </table>
    <% } else { %>
    <table>
        <thead>
            <tr>
                <H1>CURRENT PRODUCTS</H1>
            </tr>
            <tr>
                <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
            </tr>
            <tr>
                <h3><td>Check Back Soon!</td></h3>
            </tr>
        </thead>
    </table>
    <% }; %>
</div>
<br><br>
<%- include('partials/footer') %>