<%- include('../partials/header') %>
<%- include('../products') %>
  
  <% if (user.cart.length > 0) { %>
    <table>
      <thead>
        <tr>
            <th>Item</th>
            <th>Rented On</th>
            <th>For</th>
            <th>Price</th>
        </tr>
      </thead>
      <tbody>
       
          <% let total = 0 %>
          <% user.cart.forEach(function(ci) { %>
            <% items.forEach(function(it) { %>
              <% let ciString = String(ci._id); %>
              <% let itString = String(it._id); %>
              <% if (itString === ciString) { %>
                <% total += it.price; %>
                <% total = Math.round((total + Number.EPSILON) * 100) / 100; %>
              <% }; %>
              <tr>
                <td><%= it.name %></td>
                <td><%= ci.rentDate.toLocaleDateString('en-US') %></td>
                <td><%= ci.rentDays %> Days</td>
                <td>$<%= it.price.toFixed(2) %></td>
                <td>
                    <form action="/cart?_method=DELETE" method="POST">
                      <input type="hidden" name="cartItem" value="<%= ci.id %>">
                      <input type="hidden" name="userId" value="<%= user._id %>">
                      <button type="submit">X</button>
                    </form>
                </td>
              </tr>
            <% }); %>
          <% }); %>
         

        <tr>
            <td>Total $<%= total.toFixed(2) %></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Items In Cart.</h5>
  <% }; %>

<%- include('../partials/footer') %>