<%- include('../partials/header') %>

<h1>USER PROFILE</h1>
<h3><%= user.avatar %></h3>
<h3><%= user.name %></h3>
<h3><%= user.email %></h3>
<h2><a href="/users">CART</a></h2>

<%- include('../partials/footer') %>