<%- include('../partials/header') %>
<div id="main-container">
    <div id="main-box">
        <div id="main-content">
            <h2>Search Users</h2>
            <form action="/users" method="GET">
                <div id="user-search">
                  <!-- search -->
                  <div class="input-field">
                    <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
                    <i class="material-icons">close</i>
                  </div>
                </div>
                <div class="col s2">
                  <p>
                    <label for="sort-cohort">
                      <input name="sort" type="radio" id="sort-cohort" value="cohort" class="with-gap"
                        <%= sortKey === 'cohort' ? 'checked' : '' %> >
                      <span>Sort by Cohort</span>
                    </label>
                  </p>
                  <p>
                    <label for="sort-name">
                      <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                        <%= sortKey === 'name' ? 'checked' : '' %> >
                      <span>Sort by Name</span>
                    </label>
                  </p>
                </div>
            </form><br>
            <h2>All Users</h2>
            <div id="all-users" class="col s12">
                <% users.forEach(function(user) { %>
                  <div class="card blue-grey">
                    <div class="card-content white-text">
                      <div>
                        <span class="card-title">
                          <% if (user.avatar) { %>
                            <img src="<%= user.avatar %>" alt="avatar" class="circle responsive-img" width="50">
                          <% } else { %>
                            <i class="small material-icons">perm_identity</i>
                          <% } %>
                          <span class="user-name"><%= user.name %></span>
                          <% if (user.cohort) { %><span class="badge white">SEI <%= user.cohort %></span><% } %>
                        </span>
                      </div>
                      <ul class="collection">
                        <% user.facts.forEach(function(fact) { %>
                          <li class="collection-item blue-grey-text text-darken-2"><%- fact.text %></li>
                        <% }) %>
                      </ul>
                      <!-- Add Dynamic UI form below this line -->
                      <% if (user._id.equals(user && user._id)) { %>
                        <div class="card-action">
                          <form action="/facts" method="POST">
                            <input type="text" name="text" class="white-text">
                            <button type="submit" class="btn white-text">Add Fact</button>
                          </form>
                        </div>
                      <% } %>
                    </div>
                  </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>