<%- include('../partials/mgmt_head') %>
<%- include('../partials/header') %>
<div id="main-container">
    <div id="main-box">
        <div id="main-content">
            <%- include('./search') %>
            <%- include('./all') %>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>