<%- include('../partials/header') %>
<section id="show-page">
  <form id="add-item-form" method="POST"
    action="/users/<%= user._id %>/cart">
    <label>Item:
        <select name="itemId">
            <%- items.map(i => `<option value="${i._id}">${i.name}</option>`).join('') %>
          </select>
    </label><br>
    <input type="submit" value="Add Item">
  </form>
  
  <% if (user.cart.length) { %>
    <table>
      <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Rent</th>
            <th>Due</th>
            <th>Return</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% user.cart.forEach(function(i) { %>
            <% total += i.price %>
          <tr>
            <td><%= i.item %></td>
            <td><%= i.price %></td>
            <td><%= i.rent %></td>
            <td><%= i.due %></td>
            <td><%= i.return %></td>
            <td>
                <form action="/items/<%= items._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form>
            </td>
          </tr>
          <% }); %>
          <tr>
              <td>Total $<%= total %></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Items In Cart.</h5>
  <% } %>
</section>
<%- include('../partials/footer') %>